<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hammad.managerya">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Managerya">
        <activity
            android:name=".bottomNavFragments.loanFragment.contact.AddLoanTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".bottomNavFragments.loanFragment.contact.ConsumerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.loanFragment.contact.addContact.AddConsumerActivity"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.walletFragment.budget.ActivityBudgetHistory"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.walletFragment.budget.ActivityCreateBudget"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.savingFragment.ActivitySavingTransaction"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.savingFragment.ActivitySavingGoal"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.walletFragment.budget.BudgetActivity"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.walletFragment.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.addRecord.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".bottomNavFragments.addRecord.ActivityAddTransactionDetail"
            android:exported="false"/>
        <activity
            android:name=".bottomNavFragments.addRecord.AddRecordActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bottomNavFragments.homeFragment.ViewTransDetailsActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hammad.android.manageryafileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCObqzzxFiVY18tSnUl_h5apCYUu5GHAmY" />
    </application>

</manifest>